include LICENSE
include README.md
include yolov5detect/__init__.py
include yolov5detect/detect.py
include yolov5detect/models/__init__.py
include yolov5detect/models/common.py
include yolov5detect/models/experimental.py
include yolov5detect/models/yolo.py